<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>Your weather journal</h1>
      </div>
      <div class="header_wrapper"></div>
      <form class="submitForm" method="POST">
        <!-- <div> -->
          <input type="text" class="submit-form-element" id="location" name="location" list = "cities" placeholder="Where to?">
          <datalist id = "cities">
            <!-- <option value = "Moscow"/>
            <option value = "Chicago"/>
            <option value = "San Giego"/> -->
          </datalist>
          <input type="date" class="submit-form-element submit_date" id="date" name="date">
          <!-- <input type="date" class="submit-form-element submit_date" id="date2" name="date"> -->
          <button id="submitButton" type="submit">Check</button>
        <!-- </div> -->
      </form>
    </header>
    <nav> <span id="country"></span>  >  <span id="adminName"></span>  >  <span class="location_name"></span></nav>
    <main>
      <div class="main1">
        <section id="factsSection" class="section">
            <div class="factsTitle facts">
                <h2>Weather in <span class="location_name"></span></h2>
            </div>
            <div class="factsTime facts">
                <span id="facts_date"></span>
                <span id="time"></span>
            </div>
            <div class="facts_spacer facts"></div>
            <div class="facts_temp_wrap facts">
                <span class="facts_temp" id="temperature"></span>
                <img class="facts_icon_large" id="icon" src="http://openweathermap.org/img/wn/02d@2x.png">
                <div class="feels_wrap">
                  <div class="sky" id="weather_code"></div>
                  <div class="feels">
                      <div class="feels_label">Feels like</div>
                      <span class="feels_unit" id="feels_like"></span>
                  </div>
              </div>
            </div>
            <div class="facts_spacer facts"></div>
            <div class="facts_conditions_wrap facts">
                <div class="wind_wrap condition">
                    <div class="wind_title">Wind</div>
                    <div class="wind_value" id="wind"></div>
                </div>
                <div class="humidity_wrap condition">
                    <div class="humidity_title">Humidity</div>
                    <div class="humidity_value" id="humidity"></div>
                </div>
                <div class="pressure_wrap condition">
                    <div class="pressure_title">Pressure</div>
                    <div class="pressure_value" id="pressure"></div>
                </div>
            </div>
            <div class="facts_spacer facts spacer_line"></div>
            <div class="hourly_wrapper">
              <button class="hourly-carousel__prev"></button>
              <div id="hourly-carousel" class="js-carousel">
		            <ul id="facts_hour_list">
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                  <li class="facts_hour">
                    <div class="facts_hour_label"></div>
                    <img class="facts_icon_small">
                    <div class="facts_hour_temp"></div>
                  </li>
                </ul>
              </div>
              <button class="hourly-carousel__next"></button>
            </div>
        </section>
        <section id="imageSection" class="section">
      </div>
      <div class="main2">
        <section id="forecastSection" class="section">
          <div class="fc_title">
            <h2>Weather Forecast for 16 days</h2>
          </div>
          <div class="daily_wrapper">
            <button class="daily-carousel__prev"></button>
            <div id="daily_carousel">
              <ul id="forecast_daily_list">
                <li class="forecast_day">
                  <div class="forecast_day_date hidden"></div>
                  <div class="forecast_day_of_week"></div>
                  <div class="forecast_day_of_month"></div>
                  <img class="forecast_day_icon_large">
                  <div class="forecast_day_temp"></div>
                  <div class="forecast_night_temp"></div>
                  <div class="forecast_weather"></div>
                </li>
                <li class="forecast_day">
                  <div class="forecast_day_date hidden"></div>
                  <div class="forecast_day_of_week"></div>
                  <div class="forecast_day_of_month"></div>
                  <img class="forecast_day_icon_large">
                  <div class="forecast_day_temp"></div>
                  <div class="forecast_night_temp"></div>
                  <div class="forecast_weather"></div>
                </li>
                <li class="forecast_day">
                  <div class="forecast_day_date hidden"></div>
                  <div class="forecast_day_of_week weekend"></div>
                  <div class="forecast_day_of_month"></div>
                  <img class="forecast_day_icon_large">
                  <div class="forecast_day_temp"></div>
                  <div class="forecast_night_temp"></div>
                  <div class="forecast_weather"></div>
                </li>
                <li class="forecast_day">
                  <div class="forecast_day_date hidden"></div>
                  <div class="forecast_day_of_week weekend"></div>
                  <div class="forecast_day_of_month"></div>
                  <img class="forecast_day_icon_large">
                  <div class="forecast_day_temp"></div>
                  <div class="forecast_night_temp"></div>
                  <div class="forecast_weather"></div>
                </li>
                <li class="forecast_day">
                  <div class="forecast_day_date hidden"></div>
                  <div class="forecast_day_of_week weekend"></div>
                  <div class="forecast_day_of_month"></div>
                  <img class="forecast_day_icon_large">
                  <div class="forecast_day_temp"></div>
                  <div class="forecast_night_temp"></div>
                  <div class="forecast_weather"></div>
                </li>
                <li class="forecast_day">
                  <div class="forecast_day_date hidden"></div>
                  <div class="forecast_day_of_week weekend"></div>
                  <div class="forecast_day_of_month"></div>
                  <img class="forecast_day_icon_large">
                  <div class="forecast_day_temp"></div>
                  <div class="forecast_night_temp"></div>
                  <div class="forecast_weather"></div>
                </li>
              </ul>
            </div>
            <button class="daily-carousel__next"></button>
          </div>
          </div>
        </section>
      </div>
        <!-- <img src="media/moscow.png"> -->
      </section>
  </main>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
  </body>
</html>