<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>Your weather journal</h1>
      </div>
      <div class="header_wrapper"></div>
      <form class="submitForm" method="POST">
        <!-- <div> -->
          <input type="text" class="submit-form-element" id="location" name="location" placeholder="Where to?">
          <input type="date" class="submit-form-element" id="date" name="date">
          <button id="submitButton" type="submit">Check</button>
        <!-- </div> -->
      </form>
    </header>
    <nav> <span id="country">Russian Federation</span>  >  <span id="adminName">Moscow Region</span>  >  <span class="location_name">Moscow</span></nav>
    <main>
      <section id="factsSection" class="section">
          <div class="factsTitle facts">
              <h2>Weather in <span class="location_name">Moscow</span></h2>
          </div>
          <div class="factsTime facts">
              <date class="date">21 March 2021</date>
           </div>
           <div class="facts_spacer facts"></div>
           <div class="facts_temp_wrap facts">
              <span class="facts_temp" id="temperature">-4°</span>
              <img class="facts_icon_large" id="icon" src="http://openweathermap.org/img/wn/02d@2x.png">
              <div class="feels_wrap">
                <div class="sky" id="weather_code">Cloudy, clear at times</div>
                <div class="feels">
                    <div class="feels_label">Feels like</div>
                    <span class="feels_unit" id="feels_like">-9°</span>
                </div>
            </div>
          </div>
          <div class="facts_spacer facts"></div>
          <div class="facts_conditions_wrap facts">
              <div class="wind_wrap condition">
                  <div class="wind_title">Wind</div>
                  <div class="wind_value" id="wind">3.5 m/s</div>
              </div>
              <div class="humidity_wrap condition">
                  <div class="humidity_title">Humidity</div>
                  <div class="humidity_value" id="humidity">82%</div>
              </div>
              <div class="pressure_wrap condition">
                  <div class="pressure_title">Pressure</div>
                  <div class="pressure_value" id="pressure">741mm</div>
              </div>
          </div>
          <div class="facts_spacer facts spacer_line"></div>
          <div class="hourly_wrapper">
            <ul class="facts_hour_list">
              <li class="facts_hour">
                <div class="facts_hour_label">11:00</div>
                <img class="facts_icon_small" src="http://openweathermap.org/img/wn/02d.png">
                <div class="facts_hour_temp">-3°</div>
              </li>
              <li class="facts_hour">
                <div class="facts_hour_label">12:00</div>
                <img class="facts_icon_small" src="http://openweathermap.org/img/wn/02d.png">
                <div class="facts_hour_temp">-2°</div>
              </li>
              <li class="facts_hour">
                <div class="facts_hour_label">13:00</div>
                <img class="facts_icon_small" src="http://openweathermap.org/img/wn/01d.png">
                <div class="facts_hour_temp">-2°</div>
              </li>
              <li class="facts_hour">
                <div class="facts_hour_label">14:00</div>
                <img class="facts_icon_small" src="http://openweathermap.org/img/wn/02d.png">
                <div class="facts_hour_temp">-3°</div>
              </li>
              <li class="facts_hour">
                <div class="facts_hour_label">15:00</div>
                <img class="facts_icon_small" src="http://openweathermap.org/img/wn/03d.png">
                <div class="facts_hour_temp">-3°</div>
              </li>
            </ul>
          </div>
      </section>
      <section id="imageSection" class="section">
        <!-- <img src="media/moscow.png"> -->
      </section>
  </main>
  </body>
</html>