// .fc_title{
//     font: 700 1.6rem Arial;
// }

#fc_daily_list {
    list-style-type: none;
  }
  
  .facts_day {
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    // margin: 0 20px;
  }

  .facts_day:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .facts_day_label, .facts_day_date, .facts_day_icon_large, .facts_day_temp {
    display: block;
    margin: 0 auto;
  }
  
  .facts_day_icon_large {
    width: 50px;
  }

  .facts_day_label, .facts_day_temp{
      font-size: 1.3rem;
  }

  .weekend{
      color: red
  }
  
  .facts_day_date, .facts_night_temp{
      color: #919191;
      margin: 3px 0;
      font-size: 0.9rem;
  }

  .facts_weather{
      color: #919191;
      margin: 7px 0;
  }
