#imageSection {
    background-image: url("/src/client/media/moscow.jpeg");
    background-size: 800px;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;

    // img {
    //     width: 400px;
    // }
}